.callout {
    background-color: var(--alternative-color);
    color: var(--main-color);
    padding: 2rem;
    margin: 2rem 0;
    border-radius: 16px;
}

blockquote {
    background-color: #ececec;
    padding: 2rem; 
    margin-bottom: 2rem;
    border-left: 5px solid;
    border-color: #333;
}

blockquote > p {
    padding: 0;
    margin: 0;
    font-size: larger;
    color:#333333;
}



/* Toggle */
.toggle-content {
    max-height: 0px;
    overflow: hidden;
    transition: ease-out 0.25s max-height;
}

.toggle {
    display: none;
}

.toggle-label {
    cursor: pointer;
}

.toggle-label ::before {
    content: '» ';
    display: inline-block;
    margin-right: 10px;
    transition: ease-in 0.2s transform;
}

.toggle-label:hover {
    text-shadow: 0 0 5px var(--color-secondary);
}

.toggle:checked + .toggle-label + .toggle-content {
    max-height: 5000px;
    transition-duration: 1s;
    transition-timing-function: ease-in;
}

.toggle:checked + .toggle-label ::before {
    transform: rotate(90deg);
}