/*!------------------------------------------------------------------
[MAIN STYLESHEET]

PROJECT:	Roxo HTML
VERSION:	1.0.0
-------------------------------------------------------------------*/



@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



/* @import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700|Montserrat:300,400,500,600,700&display=swap"); */

body, html {
  margin: 0;
  padding: 0;
  font-size: var(--step-0);
  font-family: "Montserrat", sans-serif;
  line-height: 1.7em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  /* color: #00113E; */
  padding: 0;
  margin: 0;
  line-height: 1.5em;
}

p {
  font-size: var(--step-0);
  padding-bottom: 0.1rem;
}

h1 {
  font-size: var(--step-5);
  /* padding: var(--space-xxl) 0 var(--space-xl) 0; */
  padding: 1em 0 0.5em 0;
}

h2 {
  font-size: var(--step-4);
  padding: 1em 0 0.5em 0;
}

h3 {
  font-size: var(--step-3);
  /* padding: var(--space-l) 0 var(--space-m) 0; */
  padding: 1em 0 0.5em 0;
}

h4 {
  font-size: var(--step-2);
  /* padding: var(--space-s) 0 var(--space-xs) 0; */
  padding: 1em 0 0.5em 0;
}

h5 {
  font-size: var(--step-1);
  /* padding: var(--space-xs) 0 var(--space-xxs) 0; */
  padding: 1em 0 0.5em 0;
}

h1 + p, h2 + p, h3 + p, h4 + p, h5 + p {
  margin-top: 0;
  padding-top: 0;
}

li {
  margin-bottom: 1em;
}

.btn {
  font-family: "Montserrat", sans-serif;
  border: none;
  color: #fffAFA !important;
  padding: 20px 45px;
  border-radius: 0;
}
.btn:focus {
  box-shadow: none;
}


