/*!------------------------------------------------------------------
[MAIN STYLESHEET]

PROJECT:	Roxo HTML
VERSION:	1.0.0
-------------------------------------------------------------------*/



@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



/* @import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700|Montserrat:300,400,500,600,700&display=swap"); */

body, html {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.7em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  /* color: #00113E; */
  padding-bottom: 0.5rem;
}

p {
  font-size: 1em;
  padding-bottom: 0.1rem;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2.5em;
  padding-top: 2rem;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 25px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 15px;
  /* font-weight: 300; */
}

li {
  margin-bottom: 1em;
}

.btn {
  font-family: "Montserrat", sans-serif;
  border: none;
  color: #fff !important;
  padding: 20px 45px;
  border-radius: 0;
}
.btn:focus {
  box-shadow: none;
}


